<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @tablebooking.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @tablebooking.last_name %>
</p>

<p>
  <strong>Table ID:</strong>
  <%= @tablebooking.table_id %>
</p>
<p>
  <strong>Guestlist ID:</strong>
  <%= link_to @tablebooking.event.title, event_path(@event) %>
</p>