<p id="notice"><%= notice %></p>
<div class="content">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading animated zoomIn">
                <td><%= @tablebooking.event.title %></td>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Dashboard</li>
                <li><a class="link-effect" href="">Guest</a></li>
            </ol>
        </div>
    </div>
</div>

<div class="content">
    <!-- Dynamic Table Simple -->
    <div class="block">
        <div class="block-header">
        <div class="block-content table-responsive">
            <table class="table table-striped js-dataTable-full-pagination">
                

              <table>
                <thead>
                  <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Event</th>
                    <th>Table</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @guests.each do |guests| %>
                    <tr>
                      <td><%= guests.first_name %></td>
                      <td><%= guests.last_name %></td>
                      <td><%= guests.event.title %></td>
                      <td><%= guests.table_id if guests.table_id %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>

              <br>

            </table>
        </div>
    </div> 
</div>
