<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>


<p id="notice"><%= notice %></p>



<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading animated zoomIn">
                <td><%= @event.title %></td>
                <td><%= @event.date %></td>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Dashboard</li>
                <li><a class="link-effect" href="">Guest</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content">
    <!-- Dynamic Table Simple -->
    <div class="block">
        <div class="block-header">
        <div class="block-content table-responsive">
            <table class="table table-striped js-dataTable-full-pagination">
                
                <% @guestlists.each do |guestlists| %>

                  <p>
                    <strong>List:</strong>
                    <%= link_to guestlists.ambassador.name, guestlists if guestlists.ambassador %> (<%= guestlists.guests.count %>)
                  </p>
                <% end %>
              <br>

              <%= link_to 'New Guest', new_guest_path %>
            </table>
        </div>
    </div> 
</div>
<!-- END Page Content -->

