<p id="notice"><%= notice %></p>
<div class="content">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading animated zoomIn">
                All EVENTS
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Dashboard</li>
                <li><a class="link-effect" href="">Events</a></li>
            </ol>
        </div>
    </div>
<%= link_to 'New Guestlist', new_guestlist_path, class: "btn btn-xl btn-default button-new" %>
</div>

<!-- Page Content -->
<div class="content">
    <!-- Dynamic Table Simple -->
    <div class="block">
        <div class="block-header">
        <div class="block-content table-responsive">
            <table class="table table-striped js-dataTable-full-pagination">
                

              <table>
                <thead>
                  <tr>
                    <th>Date:</th>
                    <th>Event:</th>
                    <th colspan="3"></th>
                </thead>

                <tbody>
                  <% @guestlists.each do |guestlist| %>
                    <tr>
                      <td><%= guestlist.event.date %></td>
                      <td><%= link_to guestlist.event.title, guestlist_path(guestlist.id) if guestlist.event %> (<%= guestlist.guests.count %>)</td>
                      <td><%= link_to 'Edit', edit_guestlist_path(guestlist), :class=>'btn btn-xs btn-default' %></td>
                      <td><%= link_to 'Delete', guestlist, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-xs btn-default' %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </table>
        </div>
    </div> 
</div>