<p id="notice"><%= notice %></p>

<% @guests.each do |guest| %>

  <p>
    <strong>First name:</strong>
    <%= guest.first_name if @guestlist.guest? %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= guest.last_name if @guestlist.guest? %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= guest.gender if @guestlist.guest? %>
  </p>

  <%= link_to 'Edit', edit_guestlist_path(@guestlist) %> |
  <%= link_to 'Back', guestlists_path %>
<% end %>