<p id="notice"><%= notice %></p>

<div class="content">
    <!-- Dynamic Table Simple -->
    <div class="block">
        <div class="block-header">
            <ul class="block-options">
                <li>
                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                </li>
                <li>
                    <button type="button" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
                </li>
            </ul>
            <h3 class="block-title">Guestlist</h3>
        </div>
        <div class="block-content table-responsive">
            <table class="table table-striped js-dataTable-full-pagination">
                

              <table>
                <thead>
                  <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Gender</th>
                    <th>Ambassador</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @guests.each do |guests| %>
                    <tr>
                      <td><%= guests.first_name %></td>
                      <td><%= guests.last_name %></td>
                      <td><%= guests.gender %></td>
                      <td><%= guests.ambassador.name %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>

              <br>

            </table>
        </div>
    </div> 
</div>

