<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @table.first_name %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @table.last_name %>
</p>

<p>
  <strong>Table id:</strong>
  <%= @table_id %>
</p>

<p>
  <strong>Guest:</strong>
  <%= @table.guest %>
</p>

<p>
  <strong>Guestlist:</strong>
  <%= @table.guestlist_id %>
</p>


<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
