				
                <% content_for :title, "Dashboard" %>

                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
				
				<!-- Page Header -->
                <div class="content bg-image overflow-hidden" style="background-image: url('<%= asset_path('dashboard.jpg') %>');">
                    <div class="push-50-t push-15">
                        <h1 class="h2 text-white animated zoomIn">Dashboard</h1>
                        <h2 class="h5 text-white-op animated zoomIn">Welcome Club Owner</h2>
                    </div>
                </div>
                <!-- END Page Header -->

                <!-- Stats -->
                <div class="content bg-white border-b">
                    <div class="row items-push text-uppercase">
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker animated fadeIn">Guests</div>
                            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> Total</small></div>
                            <a class="h2 font-w300 text-primary animated flipInX" href="">+<%= @guests %></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker animated fadeIn">Events</div>
                            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> Total</small></div>
                            <a class="h2 font-w300 text-primary animated flipInX" href="">+<%= @events %></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker animated fadeIn">Guestlists</div>
                            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> Total</small></div>
                            <a class="h2 font-w300 text-primary animated flipInX" href="">+<%= @guestlists %></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker animated fadeIn">Promoters</div>
                            <div class="text-muted animated fadeIn"><small><i class="si si-users"></i> Total</small></div>
                            <a class="h2 font-w300 text-primary animated flipInX" href="">+<%= @promoters %></a>
                        </div>
                    </div>
                </div>
                <br>
                <%= link_to 'Log In', new_user_session_path, class: "h2" %>
                <br>
                <%= link_to 'Sign Up', new_user_registration_path, class: "h2" %>
                <!-- END Stats -->

